#LOTTO
05 21 * * 6-7 ~/lotto/checker.py '1, 2, 3, 4, 5, 6' alice@gmail.com bob@gmail.com &> /dev/null 2>&1
00 18 * * 5 ~/lotto/reminder.py '1, 2, 3, 4, 5, 6' alice@gmail.com bob@gmail.com &> /dev/null 2>&1
